*{
    color:white;
}
body{
    margin: 0 0 0 0;
    background: #000000;
}
header{
    color:white;
    width:100%;
    background: #000000;
    padding-top:3px;
    margin-bottom: 0;
    z-index: 2;
    position: fixed;
    top:0;
    border-bottom: 1px solid white;
}
footer{
    background: #000000;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top:5px;
    padding-bottom:5px;
}
nav{
    display:inline-block;
    float:right;
}
header > a,
h1{
    display: inline;
}
li{
    list-style-type: none;
    padding-top: 2px;
    padding-bottom: 2px;
}
form{
    margin-top:50px;
}
form>*{
    margin-top:10px;
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}
input,textarea{
    background: black;
    text-align:center;
}
nav>ul>li{
    display: inline-block;
    border:1px solid white;
    min-width:80px;
    width:100px;
    max-width:381px;
    text-align: center;
    max-height: 30px;
    min-height: 19px;
    line-height:38px
}
nav>ul{
    margin-left:auto;
}


ul{
    margin:0 0 0 0;
    padding-left:0;
}

article{
    margin-top: 70px;
    margin-left: 10px;
    min-height: 209px;
    color: white;
}
a{
    color:white;
    text-decoration: none;
}
a:active{
    color: grey;
}

a:hover{
    color: black;
}
a:visited{
    color:whitesmoke;
}
@font-face {
    font-family: 'Six Caps';
    font-style: normal;
    font-weight: 400;
    src: local('Six Caps'), local('SixCaps'), url(../font/sixcap.woff) format('woff');
}
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(../font/julius.woff) format('woff');
}

@font-face {
    font-family: 'Economica';
    font-style: normal;
    font-weight: 400;
    src: local('Economica'), local('Economica-Regular'), url(../font/Economica.woff) format('woff');
}
.flexboxContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}
.flexboxElement{
    flex : 0 1 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom:10px;
}
.flexboxElement>*{
    font-size: 24px;
    word-break: normal;
    font-family:  'Economica',sans-serif;
}
.highlight{
    text-align:center;
    background: rgba(4, 1, 21, 0.94);
}
.highlight>*{
    font-size: 33px;
}

@media screen and (max-width : 650px){
    article{
        margin-top: 90px;
    }
    nav{
        display: block;
        float:none;
        text-align: center;
    }
    h1{
        display: block;
        text-align: center;
        font-size: 15px;
    }


}
@media (max-width: 520px){
    article{
        margin-top: 80px;
    }
    .flexboxContainer{
        display: block;
    }
    .flexboxElement{
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .flexboxElement:nth-child(2n+1){
        background-color: rgba(0,0,0,0.1);
    ;
    }
    h1{
        font-size: 15px;
    }
    nav a{
        font-size: 10px;
        line-height: 14px;
    }
    nav li{
        height: 14px;
        line-height: 14px !important;
    }
}
@media (max-width: 310px){
    article{
        margin-top: 100px;
    }
}
article a:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
article a:hover:after {
    width: 100%;
    background: rgba(50,50,100,0.3);
}